.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.tab {
  background-color: var(--color-dark--0);
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  border: none;
  color: inherit;
}

.active {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
}
