.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2.4rem;
}

.form {
  width: 100%;
  max-width: 40rem;
}

.label {
  font-size: 2.4rem;
  font-weight: 600;
  height: auto;
  margin-bottom: 0.8rem;
  width: 100%;
}

@media (min-width: 768px) {
  .label {
    font-size: 3rem;
  }
}

.input {
  margin-bottom: 3.2rem;
  height: 5rem;
  width: 100%;
  font-size: 1.6rem; /* Ensures no auto-zoom on iOS */
  padding: 0 1.2rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--color-light--2);
}

@media (min-width: 768px) {
  .input {
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }
}

.button {
  height: 5rem;
  background-color: var(--color-brand--2);
  border-radius: 1rem;
  padding: 0 2.4rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: var(--color-dark--0);
}

.error {
  color: #ff6b6b;
  text-align: center;
  font-size: 1.8rem;
}
