.app {
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* Tablet */
@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 30rem 1fr;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .app {
    grid-template-columns: 40rem 1fr;
  }
}
